

main { 
        grid-template-columns: 1fr 1fr 1fr;
            display: grid;
            align-content: center;
    }
 

  header, footer {
    text-align: center;  
    font-size: 2em;
    margin: 25px;
    background-color: rgba(15, 23, 54, 0.897);
    height: 150px;
    color: white;

  }


 


  img {
    max-width: 90%;
    height: auto;
    position: relative;
    box-shadow: 10px 10px 5px grey;
    align-content: center;
    
    
    }

p {
    margin: 2rem;
    font-family: 'Abel', sans-serif;
    text-align: center;
    }

h1, h2, h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    text-align: center;
    }

