body {
    font-size: 18px;
    line-height: 1.5;
}


header, main, nav, footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header {
    height: 100px;
}
header, footer {
    background-color: rgb(16, 38, 56);
    color: white;
    text-align: center;   
}

.headshot img {
    max-width: 200px;
    height: auto;
    float: right;
    margin: 1rem;
    display: block;
}

#Title1 {
    font-size: 18px;
    line-height: 1.5;
    margin: 1.25rem auto;
    max-width: 760px;
}

#Title2 {
    font-size: 18px;
    line-height: 1.5;
    margin: 1.25rem auto;
    max-width: 760px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;

}


h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;

}
